<div class="note">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-primary pull-left">{{note.title}}</h4>
      <div class="pull-right">
        <button (click)="onEditClick()" type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{ 'note.edit.tooltip' | translate }}"
          [disabled]="loading">
          <span class="glyphicon glyphicon-pencil"></span> 
        </button>
        <button (click)="onDeleteClick()" type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{ 'note.delete.tooltip' | translate }}"
          [disabled]="loading">
          <span class="glyphicon glyphicon-trash"></span> 
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>{{note.text}}</p>
    </div>
  </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'note.edit-dialog.edit-note' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #editForm="ngForm" (ngSubmit)="onEditSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="title">{{ 'note.edit-dialog.title' | translate }}</label>
            <input type="text" id="title" class="form-control" required name="title" [(ngModel)]="editedNote.title" #title="ngModel">
            <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
              <div [hidden]="!title.errors.required">
                {{ 'note.edit-dialog.title-required' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="text">{{ 'note.edit-dialog.text' | translate }}</label>
            <textarea id="text" rows="3" class="form-control" required name="text" [(ngModel)]="editedNote.text" #text="ngModel"
              style="resize: none;"></textarea>
            <div *ngIf="text.errors && (text.dirty || text.touched)" class="alert alert-danger">
              <div [hidden]="!text.errors.required">
                {{ 'note.edit-dialog.textrequired' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">{{ 'note.edit-dialog.edit' | translate }}</button>
          <button type="button" class="btn btn-default" (click)="hideEditModal()">{{ 'note.edit-dialog.close' | translate }}</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'note.delete-dialog.delete-note' | translate }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ 'note.delete-dialog.message' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete()">{{ 'note.delete-dialog.delete' | translate }}</button>
        <button type="button" class="btn btn-default" (click)="hideDeleteModal()">{{ 'note.delete-dialog.close' | translate }}</button>
      </div>
    </div>
  </div>
</div>